:root {
    --dark: #1c1c1c;
    --white: #ffffff;
    --gold: #c9a24d;
    --gray: #f2f2f2;
    --text-gray: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: var(--white);
    color: var(--dark);
}

header {
    background: var(--dark);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--gold);
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;

}

nav a {
    color: var(--white);
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lora', serif;
}

nav a:hover {
    color: var(--gold);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

.card {
    background: var(--white);
    border-radius: 12px;
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

button {
    background: var(--dark);
    color: var(--white);
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: var(--gold);
    color: var(--dark);
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.price {
    color: var(--gold);
    font-weight: 500;
}


.hero {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/hero1.jpg") center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    letter-spacing: 2px;

}

.hero p {
    margin: 15px 0;
    color: #ddd;
}

.hero-btn {
    margin-top: 20px;
    padding: 12px 28px;
    background: var(--gold);
    color: var(--dark);
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
}

.menu-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}